extends layout

block body_content
  .wver-main-banner
    h2
      | wver
    br
    h4
      | A tool for decentralized peer code review
  .coming-soon
    h3.coming-soon-heading
      | Coming Soon!
    p.coming-soon-subheading
      h5
        | follow our development on&nbsp;
        a(target='_blank' href='https://gitlab.com/vaemoi/wver')#gitlab
          |GitLab
