doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')

    title
      | wver - decentralized peer code reviews

    //- SEO tags
    meta(name='description' content='rev, a new way to get your team/classroom talking about code')
    meta(name='keywords' content='codereview rev lint style software coding devops')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

    //- Social Sharing tags
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:site' content='@vaemoi')
    meta(property='twitter:creator' content='@brwnrclse')
    meta(property='og:title' content='rev: A decentralized code review tool for all')
    meta(property='og:description' content='Super charge your code reviews with wver!')
    meta(property='og:image' content='https://vaemoi.co/assets/img/png/rev:image.png')
    meta(property='og:url' content='https://wver.vaemoi.co')

    //- Favicons
    link(rel='icon' href='assets/favicon/favicon.ico')
    link(rel='icon' sizes='16x16' href='assets/favicon/favicon.ico')
    link(rel='icon' sizes='24x24' href='assets/favicon/favicon.ico')
    link(rel='icon' sizes='32x32' href='assets/favicon/favicon.ico')
    link(rel='icon' sizes='48x48' href='assets/favicon/favicon.ico')
    link(rel='icon' sizes='64x64' href='assets/favicon/favicon.ico')
    link(rel='apple-touch-icon' sizes='57x57' href='assets/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed' sizes='57x57' href='assets/favicon/apple-touch-icon-precomposed.png')
    link(rel='apple-touch-icon' sizes='60x60' href='assets/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='assets/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='114x114' href='assets/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='152x152' href='assets/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='167x167' href='assets/favicon/apple-touch-icon-167x167.png')

    //- Styles
    link(rel='stylesheet' type='text/css' href='css/fix.css')
    link(rel='stylesheet' types='text/css' href='css/typography.css')
    link(rel='stylesheet' type='text/css' href='css/main.css')

    //- Webfont fallback
    noscript
      link(rel='stylesheet' type='text/css' href='css/fonts.css')

    //- Webfonts
    script(type='text/javascript').
      WebFontConfig = {
        custom: {
          families: ['Plex Mono', 'Plex Sans'],
          urls: ['/css/fonts.css']
        }
      };

      (function(d){
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = true;
        wf.onerror = 'this.src="assets/loadWebFont/webfont.js"'
        s.parentNode.insertBefore(wf, s);
      })(document);

    //- Ctitical CSS
    style.
      body, a, h5, h4, h3, h2, h1, p, span {
        font-family: 'Plex Mono', monospace;
      }

      .wver-body {
        align-content: center;
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
      }

      .wver-footer {
        align-items: flex-end;
        display: flex;
        height: 9%;
        justify-content: space-between;
        margin: 0 0 1%;
        padding: 0 1%;
        width: 98%;
      }

      .wver-header {
        align-items: center;
        background-color: #EC6B4E;
        display: flex;
        flex-flow: row nowrap;
        height: 10%;
        justify-content: space-between;
        padding: 0 1%;
        width: 98%;
      }

      .wver-header-logo {
        background-color: #333;
        display: flex;
        order: 0;
      }

      .wver-header-nav {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        margin: 0 2%;
        order: 1;
      }

      .wver-header-nav-signup-btn {
        background-color: #FFCA4A;
        border-radius: 5px;
        color: #FAFAFA;
        padding: 10px 15px
      }

      .wver-main {
        align-content: center;
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        height: 80%;
        justify-content: flex-start;
        width: 100%;
      }

      .wver-main-banner {
        align-content: center;
        align-items: center;
        background-color: #EC6B4E;
        color: #FAFAFA;
        display: flex;
        flex-flow: column nowrap;
        height: 20%;
        justify-content: center;
        text-align: center;
        width: 100%
      }

      .wver-main-banner > h4 {
        padding: 0px 5px;
      }

      #gitlab {
        cursor: pointer;
        text-decoration: underline;
        text-underline-position: under;
      }


      #gitlab:hover, #gitlab:active, #gitlab:focus {
        color: #2DE1FC;
      }

      #signup {
        cursor: pointer;
        text-decoration: line-through;
      }

      #vaemoi, #vaemoi img {
        cursor: pointer;
        height: 50px;
      }

      #auth0, #auth0 img {
        height: 33px;
        width: 100px;
      }

      @media only screen and (max-width: 815px) {
        #vaemoi, #vaemoi img {
          display: none;
        }

        #auth0, #auth0 img {
          display: none;
        }
      }

    //- Heap Analytics
    //-script(type='text/javascript').
    //-  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    //-  heap.load("546259043");

  body.wver-body
    header.wver-header
      .wver-header-logo
        a(target='_blank' href='https://vaemoi.co')#vaemoi
          img(src='assets/img/svg/moi.svg' onerror='this.src="assets/img/png/moi.png"' alt='A fosst about change')
      nav.wver-header-nav
        span.wver-header-nav-signup-btn#signup
          h5.wver-header-nav-signup-btn-content
            |&nbsp;Sign up&nbsp;
    main.wver-main
      block body_content
    footer.wver-footer
      .wver-footer-badges
        a(target='_blank' href='https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss' alt='Single Sign On & Token Based Authentication')#auth0
          img(src='https://cdn.auth0.com/oss/badges/a0-badge-dark.png' onerror='this.src="assets/img/png/auth0-oss-badge.png"' alt='JWT Auth for open source projects')
      span.wver-footer-privacy-link
        | Privacy Policy
