//
// Styles for rev home
// ==================================================
//
//
@import 'variables'

.wver
  &-footer-privacy-link
    cursor pointer
    font-size 12px
    text-decoration line-through

.coming-soon
  align-content center
  align-items center
  display flex
  flex-flow column nowrap
  height 80%
  justify-content center
  text-align center
  width 100%

  &-heading
    margin-bottom 20px
